apiVersion: apps/v1
kind: Deployment
metadata:
  name: kibana-service
  labels:
    app: kibana

spec:
  selector:
    matchLabels:
      app: kibana
  replicas: 1

  template:
    metadata:
      name: kibana
      labels:
        app: kibana

    spec:
      containers:
        - name: kibana
          image: kibana:9.1.3
          ports:
            - containerPort: 5601
          envFrom:
            - configMapRef:
                name: elk-config-map


---
apiVersion: v1
kind: Service
metadata:
  name: kibana-service

spec:
  type: NodePort
  selector:
    app: kibana

  sessionAffinity: None

  ports:
    - name: http
      protocol: TCP
      port: 5601
      targetPort: 5601
      nodePort: 30561
