apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: zipkin
  labels:
    app: zipkin
spec:
  serviceName: zipkin-svc
  replicas: 1
  selector:
    matchLabels:
      app: zipkin
  template:
    metadata:
      labels:
        app: zipkin
    spec:
      containers:
        - name: zipkin
          image: openzipkin/zipkin:latest
          ports:
            - containerPort: 9411
              protocol: TCP
              name: http
          envFrom:
            - configMapRef:
                name: zipkin-config-map

---
apiVersion: v1
kind: Service
metadata:
  name: zipkin-svc
spec:
  type: LoadBalancer
  selector:
    app: zipkin
  ports:
    - protocol: TCP
      port: 9411
      targetPort: 9411
