apiVersion: apps/v1
kind: Deployment
metadata:
  name: account-service-deploy
  labels:
    app: account
spec:
  selector:
    matchLabels:
      app: account
  replicas: 1

  strategy:
    type: RollingUpdate
  #    rollingUpdate:
  #      maxUnavailable: 1
  #      maxSurge: 1
  template:
    metadata:
      labels:
        app: account
    spec:
      containers:
        - name: account-service-app
          image: docker.io/beatchoi156/account-service:latest
          env: # 헬스 체크 및 로드 밸런싱 확인용
            - name: discovery_default_zone
              value: "http://discovery-service:8761/eureka/"
#            - name: DB_USERNAME
#              valueFrom:
#                secretKeyRef:
#                  name: db-secret
#                  key: DB_USERNAME
#            - name: DB_PASSWORD
#              valueFrom:
#                secretKeyRef:
#                  name: db-secret
#                  key: DB_PASSWORD

          ports:
            - containerPort: 8080

          #          resources:
          #            requests:
          #              memory: "256Mi"
          #              cpu: "250m"
          #            limits:
          #              memory: "512Mi"
          #              cpu: "500m"
          #  Pod가 트래픽을 받을 준비가 되었는지 확인
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 85
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3
          #  Pod가 살아있는지 확인
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 85
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3

---
apiVersion: v1
kind: Service

metadata:
  name: account-service # 앱 네임이랑 같아야함.
spec:
  selector:
    app: account # 이 라벨을 가진 Pod들에게 트래픽 분산

  sessionAffinity: None        # 기본값: 매 요청마다 무작위 Pod 선택
  # 로드밸런싱 설정
  #    sessionAffinity: ClientIP        # 같은 클라이언트 IP는 같은 Pod로 (세션 유지)
  #  sessionAffinityConfig:
  #    clientIP:
  #      timeoutSeconds: 10800          # 3시간 동안 세션 유지

  ports:
    - name: http
      protocol: TCP
      port: 8080 # 어디로 포워딩 할건지
      targetPort: 8080 # 컨테이너 포트 번호
