apiVersion: apps/v1
kind: Deployment
metadata:
  name: batch-deploy
  labels:
    app: batch
spec:
  selector:
    matchLabels:
      app: batch
  replicas: 1

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  template:
    metadata:
      labels:
        app: batch
    spec:
      containers:
        - name: batch-service-app
          image: docker.io/beatchoi156/batch-service:latest
          env:
            - name: discovery_default_zone
              value: "http://discovery-svc:8761/eureka/"
          ports:
            - containerPort: 8085
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8085
            initialDelaySeconds: 85
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8085
            initialDelaySeconds: 85
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3

---
apiVersion: v1
kind: Service

metadata:
  name: batch-svc
spec:
  selector:
    app: batch

  sessionAffinity: None
  ports:
    - name: http
      protocol: TCP
      port: 8085
      targetPort: 8085
