apiVersion: apps/v1
kind: Deployment
metadata:
  name: discovery-service-deploy
  labels:
    app: discovery
spec:
  selector:
    matchLabels:
      app: discovery
  replicas: 1

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0 # 새 pod ready시 까지 유지
      maxSurge: 1 # 새 pod 생성
  template:
    metadata:
      labels:
        app: discovery
    spec:
      containers:
        - name: discovery-service-app
          image: docker.io/beatchoi156/discovery-service:latest
          ports:
            - containerPort: 8761
          #          resources:
          #            requests:
          #              memory: "256Mi"
          #              cpu: "250m"
          #            limits:
          #              memory: "512Mi"
          #              cpu: "500m"
          #  Pod가 트래픽을 받을 준비가 되었는지 확인
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8761
            initialDelaySeconds: 85
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3
          #  Pod가 살아있는지 확인
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8761
            initialDelaySeconds: 85
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3

---
apiVersion: v1
kind: Service

metadata:
  name: discovery-service
spec:
  type: NodePort
  selector:
    app: discovery # 이 라벨을 가진 Pod들에게 트래픽 분산

  sessionAffinity: None        # 기본값: 매 요청마다 무작위 Pod 선택
  # 로드밸런싱 설정
  #    sessionAffinity: ClientIP        # 같은 클라이언트 IP는 같은 Pod로 (세션 유지)
  #  sessionAffinityConfig:
  #    clientIP:
  #      timeoutSeconds: 10800          # 3시간 동안 세션 유지

  ports:
    - name: http
      protocol: TCP
      port: 8761 # 어디로 포워딩 할건지
      targetPort: 8761 # 컨테이너 포트 번호
      nodePort: 30001
