apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-service-deploy
  labels:
    app: gateway # deploy 식별 라벨
spec:   # deployment 면세
  selector:
    matchLabels:
      app: gateway  # 이 deployment가 관리할 pod  선언 -> 이 라벨을 가진 pod를 관리함

  ###### replica 영역
  replicas: 1
  strategy:
    type: RollingUpdate
#    rollingUpdate:
#      maxUnavailable: 1
#      maxSurge: 1

  ####### pod 영역
  template:
    metadata:
      labels:
        app: gateway #spec.selector.matchLabels와 일치해야
    spec:
      containers:
        - name: gateway-service-app
          image: docker.io/beatchoi156/gateway-service:latest
          env:
            - name: discovery_default_zone
              value: "http://discovery-service:8761/eureka/"
          ports:
            - containerPort: 8000
#          resources:
#            requests:
#              memory: "256Mi"
#              cpu: "250m"
#            limits:
#              memory: "512Mi"
#              cpu: "500m"
          #  Pod가 트래픽을 받을 준비가 되었는지 확인
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8000
            initialDelaySeconds: 85
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3
          #  Pod가 살아있는지 확인
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8000
            initialDelaySeconds: 85
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3

---
### service 영역
apiVersion: v1
kind: Service

metadata:
  name: gateway-service
spec:
  type: NodePort # 외부 통신 가능하게함
  selector:
    app: gateway  # 이 라벨을 가진 Pod들에게 트래픽 분산

  sessionAffinity: None        # 기본값: 매 요청마다 무작위 Pod 선택
  # 로드밸런싱 설정
  #    sessionAffinity: ClientIP        # 같은 클라이언트 IP는 같은 Pod로 (세션 유지)
  #  sessionAffinityConfig:
  #    clientIP:
  #      timeoutSeconds: 10800          # 3시간 동안 세션 유지

  ports:
    - name: http
      protocol: TCP
      port: 8000 # 어디로 포워딩 할건지
      targetPort: 8000 # 컨테이너 포트 번호
      nodePort: 30000 # 외부와 통신 가능한 포트