apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mysql-sts
  labels:
    app: mysql

spec:
  selector:
    matchLabels:
      app: mysql
  serviceName: mysql-svc

  template:
    metadata:
      name: mysql
      labels:
        app: mysql

    spec:
      volumes:
        - name: mysql-init-volume
          configMap:
            name: mysql-init-config
            # ConfigMap의 init.sql 키를 볼륨의 init.sql 파일로 매핑
            items:
              - key: init.sql
                path: init.sql
      containers:
        - name: mysql1
          image: mysql:latest
          ports:
            - containerPort: 3306
          envFrom:
            - configMapRef:
                name: mysql-config-map
          volumeMounts:
            - name: mysql-init-volume
              mountPath: /docker-entrypoint-initdb.d/
              readOnly: true
            - name: mysql-data
              mountPath: /var/lib/mysql

  volumeClaimTemplates:
    - metadata:
        name: mysql-data
      spec:
        accessModes: [ "ReadWriteOnce" ]
        resources:
          requests:
            storage: 1Gi
---
apiVersion: v1
kind: Service
metadata:
  name: mysql-svc

spec:
  type: NodePort
  selector:
    app: mysql  # 이 라벨을 가진 Pod들에게 트래픽 분산

  sessionAffinity: None        # 기본값: 매 요청마다 무작위 Pod 선택

  ports:
    - protocol: TCP
      port: 3306 # 어디로 포워딩 할건지
      targetPort: 3306 # 컨테이너 포트 번호
      nodePort: 30006

