apiVersion: apps/v1
kind: Deployment
metadata:
  name: ai-deploy
  labels:
    app: ai
spec:
  selector:
    matchLabels:
      app: ai
  replicas: 1

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  template:
    metadata:
      labels:
        app: ai
    spec:
      containers:
        - name: ai-service-app
          image: docker.io/beatchoi156/ai-service-app:latest
          env:
            - name: discovery_default_zone
              value: "http://discovery-svc:8761/eureka/"
            - name: LOG_PATH
              value: "/app/logs"

          envFrom:
            - secretRef:
                name: spring-prod-secret
          ports:
            - containerPort: 8084
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8084
            initialDelaySeconds: 120
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8084
            initialDelaySeconds: 120
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3
          volumeMounts:
            - name: log-volume
              mountPath: /app/logs
      volumes:
        - name: log-volume
          hostPath:
            path: /var/log/spring-apps/ai-service
            type: DirectoryOrCreate

---
apiVersion: v1
kind: Service

metadata:
  name: ai-svc
spec:
  selector:
    app: ai

  sessionAffinity: None
  ports:
    - name: http
      protocol: TCP
      port: 8084
      targetPort: 8084
