apiVersion: apps/v1
kind: Deployment
metadata:
  name: batch-deploy
  labels:
    app: batch
spec:
  selector:
    matchLabels:
      app: batch
  replicas: 1

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  template:
    metadata:
      labels:
        app: batch
    spec:
      containers:
        - name: batch-service-app
          image: docker.io/beatchoi156/batch-service-app:latest
          env:
            - name: discovery_default_zone
              value: "http://discovery-svc:8761/eureka/"
            - name: LOG_PATH
              value: "/app/logs"
          envFrom:
            - secretRef:
                name: spring-prod-secret
          ports:
            - containerPort: 8085
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8085
            initialDelaySeconds: 120
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8085
            initialDelaySeconds: 120
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3
          volumeMounts:
            - name: log-volume
              mountPath: /app/logs
            - name: domain-logs
              mountPath: /domain-logs
      volumes:
        - name: log-volume
          hostPath:
            path: /var/log/spring-apps/batch-service
            type: DirectoryOrCreate
        - name: domain-logs
          hostPath:
            path: /var/log/spring-apps/domain-service
            type: DirectoryOrCreate

---
apiVersion: v1
kind: Service

metadata:
  name: batch-svc
spec:
  selector:
    app: batch

  sessionAffinity: None
  type: LoadBalancer
  ports:
    - name: http
      protocol: TCP
      port: 8085
      targetPort: 8085
