apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-deploy
  labels:
    app: payment
spec:
  selector:
    matchLabels:
      app: payment
  replicas: 1

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0 # 새 pod ready시 까지 유지
      maxSurge: 1 # 새 pod 생성
  template:
    metadata:
      labels:
        app: payment
    spec:
      containers:
        - name: payment-service-app
          image: docker.io/beatchoi156/payment-service:latest
          env:
            - name: discovery_default_zone
              value: "http://discovery-svc:8761/eureka/"
            - name: LOG_PATH
              value: "/app/logs"
          envFrom:
            - secretRef:
                name: spring-prod-secret
          ports:
            - containerPort: 8083
          #          resources:
          #            requests:
          #              memory: "256Mi"
          #              cpu: "250m"
          #            limits:
          #              memory: "512Mi"
          #              cpu: "500m"
          #  Pod가 트래픽을 받을 준비가 되었는지 확인
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8083
            initialDelaySeconds: 85
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3
          #  Pod가 살아있는지 확인
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8083
            initialDelaySeconds: 85
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3
          volumeMounts:
            - name: log-volume
              mountPath: /app/logs
      volumes:
        - name: log-volume
          hostPath:
            path: /var/log/spring-apps/payment-service
            type: DirectoryOrCreate

---
apiVersion: v1
kind: Service

metadata:
  name: payment-svc
spec:
  #  type: NodePort
  selector:
    app: payment # 이 라벨을 가진 Pod들에게 트래픽 분산

  sessionAffinity: None # 기본값: 매 요청마다 무작위 Pod 선택
  # 로드밸런싱 설정
  #    sessionAffinity: ClientIP        # 같은 클라이언트 IP는 같은 Pod로 (세션 유지)
  #  sessionAffinityConfig:
  #    clientIP:
  #      timeoutSeconds: 10800          # 3시간 동안 세션 유지

  ports:
    - name: http
      protocol: TCP
      port: 8083 # 어디로 포워딩 할건지
      targetPort: 8083 # 컨테이너 포트 번호
