spring:
  main:
    allow-bean-definition-overriding: true
    
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    url: jdbc:mysql://mysql-svc:3306/test_db?rewriteBatchedStatements=true

  data:
    redis:
      host: redis-svc
      port: 6379
      password: ${REDIS_PASSWORD}

  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      base-url: https://api.groq.com/openai/v1


