# Git
.git
.gitignore
.gitattributes

# IDE
.idea
*.iml
.vscode

# Build outputs
**/build/
**/bin/
**/.gradle/
**/target/

# Test
**/test-results/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Temp
*.tmp
*.bak
*.swp
