spring:
  application:
    name: zipkin

  config:
    activate:
      on-profile: local

management:
  tracing:
    sampling:
      probability: 1.0

    propagation:
      consume: b3
      produce: b3
      type: b3

    brave:
      span-joining-supported: true

  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans

  endpoints:
    web:
      exposure:
        include: "*"
---
spring:
  config:
    activate:
      on-profile: me

management:
  tracing:
    sampling:
      probability: 0.8

    propagation:
      consume: b3
      produce: b3
      type: b3
    brave:
      span-joining-supported: true
  zipkin:
    sender:
      type: kafka
    kafka:
      topic: zipkin
    tracing:
      endpoint: http://192.168.200.100:9411/api/v2/spans
---
spring:
  config:
    activate:
      on-profile: prod

management:
  tracing:
    sampling:
      probability: 0.8

    propagation:
      consume: b3
      produce: b3
      type: b3
    brave:
      span-joining-supported: true
  zipkin:
    tracing:
      endpoint: http://zipkin-svc:9411/api/v2/spans