spring:
  application:
    name: settlement-service

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB


  profiles:
    active: local
    group:
      local:
        - secret

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:settlement_dev;MODE=MySQL
    username: sa
    password:
    hikari:
      auto-commit: false

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: create
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
        default_batch_fetch_size: 100
server:
  port: 8082
