server:
  port: 8082
spring:
  application:
    name: settlement-service

  profiles:
    active: local
    group:
      local:
        - secret
      prod:
        - secret

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: create
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
        default_batch_fetch_size: 100