spring:
  application:
    name: domain-service

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:domain_dev;MODE=MySQL # ?????? ???? ??
    username: sa
    password:
    hikari:
      auto-commit: false

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: create
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
        default_batch_fetch_size: 100